.deep-blue {
	color: deepskyblue !important;
}
.discription {
	display: none;
	opacity: 1;
	left: 0;
	right: 0;
	bottom: 130px;
	z-index: 3;
	position: absolute;
	text-align: center;
    font-weight: bold;
    /* color: rgba(20, 157, 221); */
    color: black;
    border: 5px solid gray;
    background-color: rgba(20, 157, 221, 0.75);
    border-radius: 5px;
	/* transition: all ease-in-out 0.3s; */
}
.box:hover .discription{
	display: block;
}
.myResume {
	background-color: #425cbb;
	color: white;
	border: none;
	padding: 15px;
	border-radius: 5px;
	/* width: 20px; */
	margin-top: 3vh;
	cursor: pointer;
}
.myResume a{
	color: white;
}
.myResume:hover a{
	color: #425cbb;
}
.myResume:hover{
	background-color: lightgray;
	border: 1px solid black;
}

.middle {
	text-align: center;
}